{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h3 class="display-4 logo-font text-black">
                About Us
            </h3>
            <p>
                Celtic Tiles is a traditional irish company driven by creativity and an endless passion for helping you
                find the perfect tile for your project. Each person on our team is eager to develop a long lasting
                relationship with you.
            </p>
            <span class="d-none d-sm-inline-block">
            <p >
                We are a strong, personality-driven brand that’s carved a unique niche in the renovation and interior
                design landscape, with a customer experience that remains unmatched in style, service, and selection.

                Our goal is to deliver you endless inspiration and the perfect tile pairing for your design project. We
                can’t wait to work together and make you a part of our family today.
            </p>
            </span>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- Features -->
<div class="container-wrapper h-100">
    <div class="features-container content-container">
        <section class="features">
           
            <div class="row h-100">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3> Private personal training </h3>
                        <p>Personal training at our Club is a personalised form of fitness coaching and nutritional
                            counselling.


                            Our personal training service involves you working one-on-one with a qualified
                            professional trainer, a couple of times a week, to guarantee you quickly get the fitness
                            results you want.



                            Losing weight, toning, up, getting stronger, being healthier. Our personal trainers are
                            here to guide you every step of the way.</p>

                        
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3> What's involved in personal training?</h3>
                        <p>When you start personal training at our Club,

                            your trainer will then do a full assessment of your current fitness level to ensure you
                            get a training routine
                            that suits you.

                            Your personal trainer will take into account your age, fitness history,
                            and any injuries or medical issues you mat have.
                            They will then develop a customised training programme just for you -
                            incorporating exercises and activities you enjoy and that are within your ability range.


                        </p>

                    </div>
                </div>
                <div class="col-12 d-md-none d-lg-block col-lg-4">
                    <div class="feature">
                        <h3>How much does personal training cost?</h3>
                        <p>Private personal training used to be for the rich and famous. But not at our Club. Why?
                            Because we offer one-to-one personal training packages to suit every budget. Contact our
                            gym manager to schedule an initial consultation for free and we can help you choose the
                            right personal training package for your budget.</p>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /.features -->
{% endblock %}