{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h3 class="display-4 logo-font text-black">
                About Us
            </h3>
            <p>
                Celtic Tiles is a traditional irish company driven by creativity and an endless passion for helping you
                find the perfect tile for your project. Each person on our team is eager to develop a long lasting
                relationship with you.
            </p>
            <span class="d-none d-sm-inline-block">
            <p >
                We are a strong, personality-driven brand that’s carved a unique niche in the renovation and interior
                design landscape, with a customer experience that remains unmatched in style, service, and selection.

                Our goal is to deliver you endless inspiration and the perfect tile pairing for your design project. We
                can’t wait to work together and make you a part of our family today.
            </p>
            </span>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- Features -->
<div class="container-wrapper h-100">
    <div class="features-container content-container">
        <section class="features">
           
            <div class="row h-100">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3> 100% Customer Satisfaction </h3>
                        <p>
                            
                            Our goal is to deliver you 
                            endless inspiration and the 
                            perfect tile pairing for your design project 


                            </p>

                        
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3> Free Cut Tile Samples </h3>
                        <p>
                            Our goal is to deliver you free samples to your door for your design project 

                        </p>

                    </div>
                </div>
                <div class="col-12 d-md-none d-lg-block col-lg-4">
                    <div class="feature">
                        <h3>Accessories</h3>
                        <p>Also available to buy:
                            Tile Grout, Tile Primer, 
                            Tile Cleaner, Backer Boards,
                            Tile Trims, Tile Adhesive and Sealant
                        </p>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /.features -->
{% endblock %}