</div>
</div>

</div>

</section>
<footer class="container-fluid">
    <div id="footer-details" class="row">
        <div class="col-sm-4">
            <h5 class="uppercase general-sub">About</h5>
            <p class="inline-block">
                Celtic Tiles is a company driven by an endless passion for helping you
                find the perfect tile for your project.
            </p>
            <div class="Contact us">
                <!-- Address -->
                <h5 class="uppercase general-sub">Address </h5>
                <p class="inline-block">
                    Business Park
                    <br>
                    Dublin
                </p>
                <p class="inline-block"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@cletic-tiles.ie </p>
                <p class="inline-block"> <i class="fa fa-phone" aria-hidden="true"></i> +353 7777777777</p>               

            </div>
        </div>
        <!-- <div class="col-sm-4">
            <!-- <h5 class="uppercase general-sub">Download</h5> -->
            <!-- <h5 class="uppercase general-sub">Download Product catalogue</h5>
            <p class="inline-block">
                 Need a printable version of products catalogue?
                 <br>
                 Download it here.
               
                <a href="assets/cv/sample-cv.pdf" target="_blank" class="cv-pdf">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span class="sr-only">Download link.</span>
                </a>
            </p>
        </div> --> 
        <div class="col-sm-4">
            <h2>Subscribe!</h2>
            <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
            <!-- Mailchimp signup form here -->

            
        </div>
        <div class="col-sm-4">
            
            <!-- Social Links -->
            <h5 class="uppercase general-sub">Social</h5>
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                        <span class="sr-only">Pinterest</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="#">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
            </ul>

            <!-- opening times  -->
            <h5 class="uppercase general-sub">Opening hours</h5>
            <p class="inline-block">
                Monday - Friday: 8am - 8pm
                <br>
                Saturday: 9am - 6pm
                <br>
                Closed Sunday and Bank Holidays
            </p>
        </div>
    </div>
    <!-- <div class="col-12 col-md-6">
        
        
            <h5 class="uppercase general-sub">Customer service hours</h5>
            <p class="inline-block">
                Monday - Friday: 8am - 8pm
                <br>
                Saturday: 9am - 6pm
                <br>
                Closed Sunday and Bank Holidays
            </p>
    </div> -->
    <div class="d-flex justify-content-center copyright-banner">
        <p class="m-1">Copyright © 2023 | Celtics Tiles </a>
        </p>
    </div>
</footer>