{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    
    <div class="row justify-content-center">   
       
        
      <!-- Section Titile -->
      <div>
        <h3 class="section-title justify-content-center">Contact Us</h3>
        
      </div>
   
     
      
    </div>
    <!-- contact form -->
    <div class="col-md-auto">
      <form id="contact-form" method="post"> {% csrf_token %} {{ form|crispy }}
        <!-- Form Submit -->
        <button id="submitForm" class="btn btn-dark mb-3">Send</button>
      </form>
  </div>
</div>
{% endblock %}